DATABASE_URL=postgresql://postgres:postgres@localhost:5432/transferencias_bancarias
SECRET_KEY=clave_secreta_super_segura_aqui_cambiar_en_produccion
USER_ADMIN=admin@contaflow.com
AD_PASSWORD=Admin123!
PORT=8000
