venv/
__pycache__/
data/
*.exe
*.pdf
.env
database_t.py
empresa_id_null.py
procfile.bak
Transferencias modelo/
/procesar_xml/
test_env/
*.log
*.pdf
otros/
docker-compose.yml
*.pyc
test_turso.py
auth.py