venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
data/
*.exe
*.pdf
/data/bancaria.db
.env
database_t.py
*.db
*.pyc
empresa_id_null.py
procfile.bak
Transferencias modelo/
/procesar_xml/
test_env/
*.log
*.pdf
otros/
runtime.txt
prockfile.bak
test_turso.py
testing.py
empresa_id_null.py
test_api.py
test_turso_alchemy.py
*.yml
!.github/workflows/*.yml